* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'audiowide';
    src: url('fonts/audiowide-regular-webfont.woff2') format('woff2'),
        url('fonts/audiowide-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensed';
    src: url('fonts/robotocondensed-variablefont_wght-webfont.woff2') format('woff2'),
        url('fonts/robotocondensed-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.image-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 40%;
    background: url("space.jpg") center center;
}

.image-text {
    width: 100%;
    height: 15%;
    background: black;
    opacity: 0.6;
    margin-top: 40%;
    display: flex;
    flex-direction: row;
}

.image-text img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.title-text {
    color: white;
    text-align: center;
    font-family: "audiowide", Arial, sans-serif;
    font-weight: 500;
    font-size: clamp(1vw, 4.75vw, 5vw);
    flex-shrink: 1;
    margin-top: 1vh;
}

.credit-text {
    color: white;
    text-align: center;
    font-family: "roboto_condensed", Arial, sans-serif;
    margin-top: auto;
}


.form-section {
    background-color: white;
    flex: 1;
    flex-basis: 60%;
    margin: 0;
    font: 1rem "roboto_condensed", monospace;
}

.top {
    height: 40%;
    background-color: #F6F7F8;
    font-size: clamp(1rem, 1.5vw, 2rem);
    padding: 75px 75px 0 0;
    text-wrap: balance;
    overflow: hidden;
}

.last-line {
    padding-top: 1rem;
}

.middle {
    height: auto;
    background-color: #FFFFFF;
    outline: none;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.top-text,
h2,
button,
.bottom-text,
.form_row {
    margin-left: 3vw;
}

h2 {
    margin: 2vh 0 2vh 3vw;
}

.form_row {
    display: flex;
    gap: 20px;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin: 0 5vw 1vh 0;
}

.form_group label {
    display: block;
    margin-bottom: 1px;
}

.form_group input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    outline: none;
    width: 15vw;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover {
    border: 1px solid #FFD580;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    outline: none;
    background-color: #E1EBEE;
    border: 2px solid #191970;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="email"]:invalid,
input[type="password"]:invalid {
    outline: none;
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

.bottom {
    height: 30%;
    background-color: #F6F7F8;
    font-size: 1rem;
}

button {
    font: 1rem "roboto_condensed", monospace;
    font-weight: bold;

    margin-top: 20px;

    color: #FFFFFF;
    background-color: #191970;

    border: none;
    border-radius: 10px;

    padding: 8px 40px;
    cursor: pointer;
}

button:hover {
    background-color: #4682B4;
}

button:active {
    background-color: #407FC7;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #191970;
}

a:hover {
    color: #4682B4;
}